*/build/*.obj
*.exe
*.exp
*.pdb
CogwheelCore.lib
ScriptsDLL.dll
ScriptsDLL.lib
framed.h

tools/build_scripts/*.obj
tools/GeneratedComponentsUtility.cpp
!build_scripts_dll.bat
!GeneratedComponentsUtility.h

!vswhere.exe